{% comment %}
<!-- vim: set ts=2 sw=2: -->
{% endcomment %}
<header class="header">
  <div class="content-wrapper">
    <nav class="header_nav">
      <a href="/resume" title="take a look at my resume">resume</a>
      <a href="/rs" title="rs games">rs</a>
    </nav>
  </div>

  <!-- Google tag (gtag.js) -->
  <script async
                    src="https://www.googletagmanager.com/gtag/js?id=G-SXYMQLB0G3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SXYMQLB0G3');
  </script>
</header>
