{% comment %}
<!-- vim: set ts=2 sw=2 et: -->
{% endcomment %}
<tr>
  <td style="{{page.td_style}}">
    <font color="{{page.clrtext}}">Respectfully,</font>
    <br/><br/>
  </td>
</tr>
<tr>
  <td style="{{page.td_style}}">
    <a href="https://iegor.github.io/resume">
      <span>
        <font style="color:#{{page.clrname}}; font-size:11.0pt;">
          <b>Iegor Danylchenko</b>
        </font>
      </span>
    </a>
  </td>
</tr>
<tr>
  <td style="{{page.td_style}} border-color:#{{page.clrtext}}; border-bottom:1px solid;">
    <font color="{{page.clrname}}">{{page.langmark}}</font>
    <font color="{{page.clrtext}}">{{page.position}}</font>
  </td>
</tr>
